@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    box-sizing: border-box;
}
body {
    margin: 0%;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
}
p,a,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}



.title h2 {
    margin-bottom: 96px;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

.our-menu {
    padding: 76px 0 47px;
}
.our-menu .menu-item {
    border-radius: 21px;
    display: inline-block;
    border: none;
}
.our-menu .menu-item img {
    border-radius: 16px;
}
.our-menu .item-text {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    align-items: center;
    letter-spacing: 0.03em;
    color: #000000;
}
.our-menu .item-text {
    text-align: center;
    margin-top: 40px;
}

.our-menu .block .menu-item img {
    width: 100%;
}

.xit-sec .xit-item {
    border-radius: 16px;
    margin-bottom: 32px;
}
.xit-sec .xit-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.xit-sec .xit-img img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    mix-blend-mode: multiply;
    position: relative;
    z-index: 1;
}
.xit-sec .xit-text {
    padding: 24px;
    background-color: #fff;
    margin-top: -15px;
    position: relative;
    z-index: 2;
    border-radius: 16px;
    border: 0.2px solid #D1D1D1;
    box-shadow: 0px 0px 62px rgba(0, 0, 0, 0.05);
}
.xit-sec .xit-text>p {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.03em;
    height: 72px;
    overflow: hidden;
    margin-bottom: 24px;
}
.xit-sec .xit-text .xit-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.xit-sec .xit-text .xit-count .text-in {
    display: flex;
    align-items: center;    
}
.xit-sec .xit-text .xit-count p {
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #FF2E00;
}
.xit-sec .xit-text .xit-count .count {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.xit-sec .xit-text .xit-count .count span {
    display: inline-block;
    width: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
}
.xit-sec .xit-text .xit-count .count span.plus,
.xit-sec .xit-text .xit-count .count span.minus {
    cursor: pointer;
}
.xit-sec .xit-text .xit-count .cart-icon a {
    height: 36px;
    width: 36px;
    background: #FF2E00;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.xit-sec .xit-text .xit-count .cart-icon a img {
    width: 50%;
}



/* register */
.xit-reg {
    margin-top: 140px;
}
.xit-form {
    width: 512px;
    margin: auto;
}
.form-label {
    margin: 0;
    padding: 15px 0;
    width: 240px;
    height: 56px;
    font-size: 20px;
}
.xit-submit {
    margin: 32px 0 44px;
    text-align: center;
}
.xit-submit button {
    width: 240px;
    padding: 16px 0;
    background: #FF7353;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 16px;
}
.xit-submit button:hover {
    color: rgb(65, 62, 255);
}
.xit-checks {
    margin-bottom: 89px;
}
.xit-checks .form-check {
    display: inline-block;
    margin-right: 143px;
}
.xit-checks .form-check input {
    margin-right: 19px;
}
.xit-checks .form-check label {
    width: 192px;
    height: 32px;
    padding-top: 4px;
    text-align: left;
}
.form-group {
    text-align: center;
}

.menu-slider {
    position: relative;
}
.menu-slider .owl-nav button {
    position: absolute;
    top: 40%;
}
.menu-slider .owl-nav .owl-prev {
    left: 0;
}
.menu-slider .owl-nav .owl-next {
    right: 0;
}
.our-menu .menu-item {
    width: 100%;
}
.xit_street input {
    padding: 16px;
    width: 512px;
}












.mob {
    display: none;
}














@media screen and (max-width: 480px){
    .pc {display: none;}
    .mob {display: block;}
    .menu-slider {
        padding: 30px 60px;
    }
    .our-menu .menu-item {
        width: 75%;
    }
    .menu-slider .owl-nav .owl-next {
        right: 8%;
    }
    .menu-slider .owl-nav .owl-prev {
        left: 8%;
    }
    .owl-carousel .owl-stage-outer {
        margin-left: 30px;
    }
}