body {
    margin: 0;
    padding: 0;
    background: #f1fbff;
}

.navbar-brand{    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-brand span{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-warning-rgb),var(--bs-text-opacity))!important;
}
.navbar-nav .nav-item a {
    text-transform: uppercase;
    color: #000;
}

.home{
    height: 100vh;
}
.carousel-item {
    height: 100vh;
}
.carousel-item img {
    height: 100vh;
}

.carousel-caption {
    bottom: 15.25rem;
}
.carousel-caption h5{
    font-size: 3rem;
}
.about {
    margin-top: 135px;
}
.text-about {
    margin-left: 80px;
}
.text-about h3 {
    font-size: 2rem;
}
.text-about p {
    font-size: 20px;
}
.text-about button {
    font-size: 28px;
}


.service-item {
    margin-top: 100px;
    text-align: center;
}
.card-body {
    padding: 0;
}
.bi-laptop {
    font-size: 50px;
}
.card-title {
    font-weight: bold;
    font-size: 25px;
    padding: 0;
}
.card.text {
    font-size: 1.25rem;
    padding: 1px;
}
.offers {
    margin-bottom: 250px;
} 
.offers a {
    width: 100%;
}
















